@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,300,100);

/* Pour que ça ne déborde pas sur les côtés */

body {
	overflow-x: hidden;
}

.wrapper-1 {
	position: relative;
	height: 100px;
	overflow-x: hidden;
}

.wrapper-2 {
	position: relative;
	height: 304px;
	overflow-x: hidden;
}
.wrapper-3 {
	position: relative;
	height: 127px;
	overflow-x: hidden;
}

/* Version mobile */

/* Menu */

.menu {
	position: fixed;
	background-color: #fff;
	height: 125px;
	text-align: center;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	padding-top: 20px;
	z-index: 1000;
	width: 100%;
}

.menu img {
	height: 80px;
	width: 250px;
}

/* Corps */

.body {
	position: absolute;	
	width: 100%;
	margin-top: 125px;
	z-index: 900;
	padding: 0;
}

.blue-section {
	height: 100px;
	width: 102%;
	background-color: #42A5F5;
	padding: 10px 10px 0px 10px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	-webkit-transform: rotate(-2deg);
	margin-top: -6px;
	margin-left: -1%;
	z-index: 600;
}

.blue-section h1 {
	font-family: "Montserrat";
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	-webkit-transform: rotate(2deg);
}	

.white-section {
	height: 281px;
	z-index: 700;
}

.white-section h2 {
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: solid 1px rgba(0, 0, 0, 0.84);
	width: 105px;
	padding-bottom: 15px;
	color: rgba(0, 0, 0, 0.84);
}

.white-section h3 {
	text-align: center;
	line-height: 2;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.84);
}

.white-section a {
	color: #42A5F5;
}

.red-section {
	height: 113px;
	width: 102%;
	background-color: #EF5350;
	text-align: center;
	padding-top: 18px;
	z-index: 800;
	-webkit-transform: rotate(1deg);
	margin-left: -1%;
	margin-top: 4px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) inset;

}

.red-section h4 {
	font-size: 18px;
	color: #fff;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transform: rotate(-1deg);
}

.red-section h5 {
	font-size: 14px;
	color: #fff;
	font-family: "Montserrat";
	letter-spacing: 1px;
	-webkit-transform: rotate(-1deg);
}

.devis {
	position: relative;
}

.form {
	width: 100%;
	display: inline-block;	
	margin-top: 660px;
	text-align: center;	
}

.form h5 {
	font-family : "Montserrat";
	font-size: 16px;
	color: rgba(0, 0, 0, 0.84);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.form label {
	margin-top: 5px;
}

.form button {
	margin-top: 15px;
	border: solid 2px #EF5350;
	background-color: #fff;
	color: #EF5350;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Version tablette verticale */

@media (min-width: 768px) {

/* Menu */

.menu .column-1 {
	text-align: left;
}

.menu .column-1 img {
	margin-left: 5%;
}

.dropdown {
	float: right;
	margin-top: 4%;
	margin-right: 5%;
}

.menu .column-2 .btn {
	border: solid 1px #EF5350;
}

.dropdown .fa-bars {
	color: #EF5350;
}

.menu .column-2 .btn:focus {
	border: solid 1px #EF5350;
	background-color: #EF5350;
	outline: none;
}

.menu .column-2 .btn:focus .fa-bars {
	color: #fff;
}

.dropdown ul {
	left: inherit;
	border: none;
	border-radius: 0;
	margin-top: 20px;
	margin-left: -676px;
	-webkit-transform: rotate(-2deg);
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}

.dropdown ul li {
	display: table-cell;
	-webkit-transform: rotate(2deg);
}

.dropdown ul li a {
	padding: 0px 20px 0px 20px;
	line-height: 1;
	font-family: "Montserrat";
	font-size: 17px;
	color: rgba(0, 0, 0, 0.84);
}

.dropdown ul li:nth-child(3) {
	padding-top: 17px;
}

.dropdown ul li:last-child {
	padding-bottom: 23px;
}

*/
/* Section bleue */

.wrapper-1 {
	height: 110px;
}

.blue-section {
	margin-top: -14px;
}

.blue-section h1 {
	font-family: "Montserrat";
	text-transform: uppercase;
	text-align: left;
	border-bottom: solid 2px #fff;
	width: 210px;
	padding-bottom: 10px;
	margin-top: 25px;
	margin-left: 35px;
}

/* Slider */

.slider {
	padding-left: 4%;
	padding-right: 6%;
}

.slider .column-1, .slider .column-2, .slider .column-3 {
	height: 304px;
	padding-left: 3%;
	padding-right: 2%;
}

.slider .img {
	height: 100%;
	width: 100%;
}

.slider .column-1 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.slider .column-2 {
	padding-top: 15px;
	padding-bottom: 20px;
}
.slider .column-3 {
	padding-top: 5px;
	padding-bottom: 10px;
}

.slider img {
	min-height: inherit;
	min-width: inherit;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

/* Formulaire */

.form .column-1 {
	padding-top: 30px;
}

.form .col-sm-3 {
	text-align: left;
	padding-bottom: 15px;
}

.form label {
	display: inline-block;
	margin-top: 0;
}

.form input {
	display: inline-block;
}

.form .column-2 {
	padding-top: 10px;
}

.contact h2 {
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: solid 1px rgba(0, 0, 0, 0.84);
	width: 105px;
	padding-bottom: 15px;
	color: rgba(0, 0, 0, 0.84);
}

.contact h3 {
	text-align: center;
	line-height: 2;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.84);
}

.contact a {
	color: #42A5F5;
}

}

/* Version tablette horizontale */

@media (min-width: 992px) {

.menu-md {
	list-style: none;
}

.menu-md img {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.menu-md h2 {
	font-family: "Montserrat";
	font-size: 15px;
	text-align: center;
}

.menu .column-3 {
	margin-left: -3%;
}

.menu .column-1, .menu .column-3 {
	margin-top: 0.5%;
}

}

