@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,300,100);

/* Pour que ça ne déborde pas sur les côtés */

body {
	overflow-x: hidden;
}

.wrapper-1 {
	position: relative;
	height: 102px;
	overflow-x: hidden;
}

.wrapper-2 {
	position: relative;
	height: 304px;
	overflow-x: hidden;
}
.wrapper-3 {
	position: relative;
	height: 110px;
	overflow-x: hidden;
}

/* Version mobile */

/* Menu */

.menu {
	position: fixed;
	background-color: #fff;
	height: 125px;
	text-align: center;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	padding-top: 20px;
	z-index: 1000;
	width: 100%;
}

.menu img {
	height: 80px;
	width: 250px;
}

.logo {
	cursor: pointer;
}

/* Corps */

.body {
	position: absolute;	
	width: 100%;
	margin-top: 125px;
	z-index: 900;
	padding: 0;
}

.blue-section {
	height: 100px;
	width: 102%;
	background-color: #42A5F5;
	padding: 10px 10px 0px 10px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
	-webkit-transform: rotate(-2deg);
	margin-top: -6px;
	margin-left: -1%;
	z-index: 600;
}

.blue-section h1 {
	font-family: "Montserrat";
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	-webkit-transform: rotate(2deg);
}	

.white-section {
	height: 281px;
	z-index: 700;
}

.white-section h2 {
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: solid 1px rgba(0, 0, 0, 0.84);
	width: 105px;
	padding-bottom: 15px;
	color: rgba(0, 0, 0, 0.84);
}

.white-section h3 {
	text-align: center;
	line-height: 2;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.84);
}

.white-section a {
	color: #42A5F5;
}

.red-section {
	height: 113px;
	width: 102%;
	background-color: #EF5350;
	text-align: center;
	padding-top: 18px;
	z-index: 800;
	-webkit-transform: rotate(1deg);
	margin-left: -1%;
	margin-top: 4px;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) inset;

}

.red-section h4 {
	font-size: 18px;
	color: #fff;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transform: rotate(-1deg);
}

.red-section h5 {
	font-size: 14px;
	color: #fff;
	font-family: "Montserrat";
	letter-spacing: 1px;
	-webkit-transform: rotate(-1deg);
}

.form {
	width: 100%;
	display: inline-block;	
	margin-top: 660px;
	text-align: center;	
}

.form h5 {
	font-family : "Montserrat";
	font-size: 16px;
	color: rgba(0, 0, 0, 0.84);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.form label {
	margin-top: 5px;
}

.form button {
	margin-top: 15px;
	border: solid 2px #EF5350;
	background-color: #fff;
	color: #EF5350;
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Version tablette verticale */

@media (min-width: 768px) {

/* Menu */

.menu .column-1 {
	text-align: left;
}

.menu .column-1 img {
	margin-left: 5%;
}

.dropdown {
	float: right;
	margin-top: 4%;
	margin-right: 5%;
}

.menu .column-2 .btn {
	border: solid 1px #EF5350;
}

.dropdown .fa-bars {
	color: #EF5350;
}

.menu .column-2 .btn:focus {
	border: solid 1px #EF5350;
	background-color: #EF5350;
	outline: none;
}

.menu .column-2 .btn:focus .fa-bars {
	color: #fff;
}

.dropdown ul {
	left: inherit;
	border: none;
	border-radius: 0;
	margin-top: 21px;
	margin-left: -676px;
	-webkit-transform: rotate(-2deg);
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
	padding: 0px 20px 25px 15px;
	left: 0;
	right: -40px;
}

.dropdown ul li {
	display: table-cell;
}

.dropdown-links {
	-webkit-transform: rotate(2deg);
	padding-left: 15px;
	margin-top: 20px;
}

.dropdown ul li a {
	padding: 0px 10px 0px 10px;
	line-height: 1;
	font-family: "Montserrat";
	font-size: 17px;
	color: rgba(0, 0, 0, 0.84);
}

.dropdown ul li:nth-child(3) {
	padding-top: 17px;
}

.dropdown ul li:last-child {
	padding-bottom: 23px;
}

.dropdown ul li:last-child a {
	color: #42A5F5;
}

/* ACCUEIL */

/* Section bleue */

.wrapper-1 {
	height: 110px;
}

.blue-section {
	margin-top: -14px;
}

.blue-section h1 {
	font-family: "Montserrat";
	text-transform: uppercase;
	text-align: left;
	border-bottom: solid 2px #fff;
	width: 210px;
	padding-bottom: 10px;
	margin-top: 25px;
	margin-left: 35px;
}

/* Slider */

.wrapper-2 {
	height: 315px;
}

.slider {
	padding-left: 4%;
	padding-right: 6%;
}

.slider .column-1, .slider .column-2, .slider .column-3 {
	height: 304px;
	padding-left: 3%;
	padding-right: 2%;
}

.slider .img {
	height: 100%;
	width: 100%;
	text-align: center;
}

.slider .column-1 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.slider .column-2 {
	padding-top: 15px;
	padding-bottom: 20px;
}
.slider .column-3 {
	padding-top: 5px;
	padding-bottom: 10px;
}

.slider img {
	min-height: inherit;
	min-width: inherit;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

/* Section rouge */

.wrapper-3 {
 height: 125px;
}

/* Formulaire */

.form {
	margin-top: 670px;
}

.form .column-1 {
	padding-top: 30px;
}

.form .col-sm-3 {
	text-align: left;
	padding-bottom: 15px;
}

.form label {
	display: inline-block;
	margin-top: 0;
}

.form input {
	display: inline-block;
}

.form .column-2 {
	padding-top: 10px;
}

.contact h2 {
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: solid 1px rgba(0, 0, 0, 0.84);
	width: 105px;
	padding-bottom: 15px;
	color: rgba(0, 0, 0, 0.84);
}

.contact h3 {
	text-align: center;
	line-height: 2;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.84);
}

.contact a {
	color: #42A5F5;
}

/* CATEGORIES */

.presentation {
	position: absolute;
  	margin-top: 240px;
  	z-index: 900;
  	width: 100%;
}

.presentation .column-1 {
	padding: 40px;
	border: solid 2px #42A5F5;
}

.presentation h2 {
	font-family: 'Montserrat';
	font-weight: 400;
	text-align: justify;
	line-height: 1.5;
	margin: 0;
	color: #42A5F5;
	text-transform: uppercase;
	border-bottom: solid 2px #42A5F5;
	width: 100%;
	padding-bottom: 10px;
}

.presentation h3 {
	font-family: 'Montserrat';
	font-weight: 400;
	text-align: justify;
	line-height: 1.6;
	margin: 0;
	color: #42A5F5;
	font-size: 16px;
	letter-spacing: 1px;
}

.presentation h3 strong {
	letter-spacing: 2px;
}

.presentation .links-sm-vertical button {
	text-align: center;
	width: 100%;
	background-color: #fff;
	border: solid 2px #EF5350;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	color: #EF5350;
	border-radius: 0;
}

.presentation .links-sm-vertical button:hover, .presentation .links-sm-vertical button:active, .presentation .links-sm-vertical button:focus {
	background-color: #EF5350;
}

.presentation .links-sm-vertical button:hover h4, .presentation .links-sm-vertical button:active h4, .presentation .links-sm-vertical button:focus h4 {
	color: #fff;
	text-decoration: none;	
}

.presentation .links-sm-vertical .col-sm-4, .presentation .links-sm-vertical .col-sm-5 {
	margin-top: 20px;
}

/* PRODUITS */

.product-blue {
	padding: 0;
	width: 100%;
	position: absolute;
	margin-top: 125px;
}

.product-blue-1 h1 {
	letter-spacing: 1px;
}

.product-title-1 h1 {
	width: 130px;
}

.product-title-2 h1, .product-title-10 h1 {
	width: 180px;
}

.product-title-3 h1, .product-title-6 h1, .product-title-8 h1  {
	width: 150px;
}

.product-title-4 h1 {
	width: 115px;
}

.product-title-5 h1 {
	width: 190px;
}

.product-title-7 h1 {
	width: 52px	;
}

.product-title-9 h1 {
	width: 235px;
}

.product-title-11 h1 {
	width: 275px;
}

.products {
	position: absolute;
	margin-top: 250px;
	z-index: 900;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.product {
	margin-bottom: 25px;
}

.product-img, .product-description {
	border: solid 4px #42A5F5;
}

.product-img {
	height: 275px;
	text-align: center;
	padding: 10px;
}

.product-img img {
	min-height: inherit;
	min-width: inherit;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: middle;	
}

.product-description {
	padding: 25px;
	height: 275px;
}

.product-description h2 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	color: #EF5350;
	margin: 0;
	letter-spacing: 1px;
	width: 100%;
	border-bottom: solid 2px #42A5F5;
	padding-bottom: 20px;
	font-size: 20px	;
}

.product-description p {
	color: #42A5F5;
	font-family: 'Montserrat';
	margin-top: 10px;
	text-align: justify;
	letter-spacing: 1px;
}

.product-description button {
	background-color: #fff;
	border: solid 2px #42A5F5;
	border-radius: 0;
	margin-top: 10px;
}

.product-description h3 {
	font-family: 'Montserrat';
	color: #42A5F5;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 10px;
}

.products .product-description button:hover, .products .product-description button:active, .products .product-description button:focus {
	background-color: #42A5F5;
} 

.products .product-description button:hover h3, .products .product-description button:active h3, .products .product-description button:focus h3 {
	color: #fff;
}

.products .product-description button a:hover, .products .product-description button a:active, .products .product-description button a:focus {
	text-decoration: none;
}

}

/* Version tablette horizontale */

@media (min-width: 992px) {


/* Menu */

.menu-md {
	list-style: none;
}

.menu-md img {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.menu-md h2 {
	font-family: "Montserrat";
	font-size: 15px;
	text-align: center;
}

.menu .column-3 {
	margin-left: -3%;
}

.menu .column-1, .menu .column-3 {
	margin-top: 0.5%;
}

.menu-md .link-1 a, .menu-md .link-2 a, .menu-md .link-3 a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.84);
} 

.menu-md .link-1 a:hover, .menu-md .link-2 a:hover, .menu-md .link-3 a:hover {
	text-decoration: none;
	color: #42A5F5;
} 

.menu-md .link-4 a {
	text-decoration: none;
	color: #42A5F5;
}

.menu-md .link-4 a:hover {
	text-decoration: none;
	color: #EF5350;
}

/* Section bleue */

.wrapper-1 {
	height: 105px;
}

.blue-section {
	margin-top: -18px;
}

/* Slider */

.slider {
	padding-left: 5%;
	margin-top: -0.5%;
}

.slider .column-1, .slider .column-2, .slider .column-3 {
	padding-right: 3%;
}

/* Section rouge */

.wrapper-3 {
	height: 140px;
}

.red-section {
	margin-top: 8px;
	height: 123px;
}

.red-section button, .red-section button:active, .red-section button:visited{
	-webkit-transform: rotate(-1deg);
	border: solid 2px #fff;
	background-color: #EF5350;
	box-shadow: 0px 2px 2px 0px #BD403E;
	outline: none;
}

.red-section button:hover, .red-section button:focus {
	-webkit-transform: rotate(-1deg);
	border: solid 2px #fff;
	background-color: #BD403E;
	box-shadow: 0px 2px 2px 0px #BD403E;
	outline: none;
}

.red-section h4 {
	-webkit-transform: rotate(0deg);
}

/* Formulaire */

.form {
	padding-top: 20px;
}

.form button:hover {
	color: #fff;
	background-color: #EF5350;
}

/* CATEGORIES */

.presentation h2 {
	font-size: 26px;
}

.presentation h3 {
	font-size: 16px;
}

.links-md-1 {
	margin-top: 250px;
}

.links-md-1 .col-md-3 {
	margin-left: 40px;
}

.links-md-horizontal {
	margin-top: 10px;
}

.presentation .links-md-vertical button {
	width: 100%;
	text-align: center;
	width: 100%;
	background-color: #fff;
	border: solid 2px #EF5350;
	text-transform: uppercase;
	font-family: 'Montserrat';
	letter-spacing: 1px;
	color: #EF5350;
	border-radius: 0;
}

.presentation .links-md-vertical button:hover, .presentation .links-md-vertical button:active, .presentation .links-md-vertical button:focus {
	background-color: #EF5350;
}

.presentation .links-md-vertical button:hover h4, .presentation .links-md-vertical button:active h4, .presentation .links-md-vertical button:focus h4 {
	color: #fff;
	text-decoration: none;
}

.links-md-vertical {
	margin-top: 220px;
}

.category-3 .links-md-vertical {
	margin-top: 70px;
}

.presentation .links-md-vertical .col-md-3, .presentation .links-md-vertical .col-md-4 {
	margin-top: 10px;
}

}

/* Version large */

@media (min-width: 1200px) {

/* Menu */

.menu-md h2 {
	font-size: 16px;
}

/* Section bleue */

.wrapper-2 {
	height: 330px;
}

.blue-section {
	margin-top: -22px;
}

/* Section rouge */

.red-section {
	margin-top: 11px;
	height: 155px;
}

.red-section button {
	margin-top: 10px;
}

.red-section h5 {
	margin-top: 30px;
}

.wrapper-3 {
	height: 180px;
}

/* Formulaire */

.form {
	padding-top: 90px;
	padding-bottom: 40px;
}

/* CATEGORIES */

.links-md-vertical {
	margin-top: 170px;
}

.links-md-vertical .col-md-3 {
	margin-left: 20px;
}

.category-3 .links-md-vertical {
	margin-top: 20px;
}


}


